<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="footer :: headBasic"></div>
</head>
<body>

<div class="panel-body">
    <div th:include="footer :: userPublic"></div>
    <div class="panel panel-default marginTop10" style="text-align:center; display:block; padding: 10px;">
        <button class="btn btn-success" type="button" id="startTimingButton" style="display: none;">
            <span class="glyphicon glyphicon-time"></span>
            开始计时
        </button>
        <button class="btn btn-success" type="button" id="endTimingButton" style="display: none;">
            <span class="glyphicon glyphicon-time"></span>
            已计时 <span class="badge" id="timingSecond">0</span> ，结束计时
        </button>
    </div>
</div>

</body>
</html>
<script src="/js/page/index.js"></script>
